mixin footer()
	+b.FOOTER.footer#sContact
		.container
			.row 
				+e.col.col-lg-4.col-6 
					+e.title Наш адрес
					+e.group
						+e.group-title 	Адрес: 
						p 121351, Москва, Бобруйская улица, дом 7 
					+e.group
						+e.group-title Станция метро: 
						p Молодежная 
					+e.group
						+e.group-title Как нас найти:
						p От метро "Молодежная" на автобусе 73, 794 до остановки "Колледж"


				+e.col.col-lg-4.col-6 
					+e.title Контактные данные
					+e.group
						+e.group-title Директор
						p  Калугина Ксения Евгеньевна <br>
							a.text-body(href="mailto:KaluginaKE@edu.mos.ru") KaluginaKE@edu.mos.ru
							br
							a.text-body(href="tel:+7(495)225-44-90") +7 (495) 225-44-90
							br
							a.text-body(href="tel:+7(926)312-16-24") +7 (926) 312-16-24 
					+e.group
						+e.group-title Секретарь 
						p  Кузьмина Дарья Олеговна 
							br
							a.text-body(href="tel:+7(495)225-44-90") +7 (495) 225-44-90






				+e.col.col-lg-4.col-6 
					+e.title.d-none.d-lg-block &nbsp;
					+e.group
						+e.group-title  Адрес электронной почты:  
						p  
							a.text-body(href="mailto:spo-41@edu.mos.ru")  spo-41@edu.mos.ru

		+e.bottom
			.container
				.row
					.col-lg
						p  Министерство науки и высшего образования РФ
							br
							|	Министерство просвещения РФ
							br
							|	© #[span.year 2020]

					.col-auto
						a(href="#")  Политика конфиденциальности
					.col-auto
						a(href="#") Пользовательское соглашение
					.col-auto
						+soc()