mixin sForm(t='Узнай минимальный проходной балл в 2021 году')
	// start sForm
	+b.SECTION.sForm.sectio
		.container
			+b.form-wrap&attributes(attributes)
				form(action="rest.php" method='POST' )
					+e.title= t
					input(type="hidden" name="DATA[TITLE]" value= t)
					.row

						.col-lg
							+input("Ваше имя",'text','','DATA[NAME]')
						.col-lg
							+input("Номер телефона",'tel','','DATA[PHONE_MOBILE]')(required)
						.col-auto
							+e.btn(type="submit" name="submit") Отправить заявку
					+policy
	// end sForm