mixin sEnter(data)
	// start sEnter
	+b.SECTION.sEnter.section#sEnter&attributes(attributes)
		.container
			+b.section-title
				h2 Информация о приеме
			+e.row.row
				+sEnterItem('Продолжительность обучения:', '2 г. 10 меc.')
					b На базе основного общего образования
					|
					| (9 класс)
				+sEnterItem('Продолжительность обучения:', '10 месяцев')
					b На базе основного общего образования
					|
					| (9 класс)
				+sEnterItem('', 'Очная')
					b Форма обучения
				+sEnterItem('', 'Конкурс аттестатов')
					b Вступительные испытания
			+e.descr
				p
					| Мастер столярно-плотничных и паркетных работ – квалифицированный рабочий широкого профиля,
					| выполняющий столярные, плотничные, стекольные, паркетные работы, выполняет работы по ремонту
					| деревянных конструкций и деталей, производит различные деревянные изделия на
					| деревообрабатывающих станках. Наши мастера востребованы в строительных фирмах, строительно-
					| ремонтных цехах заводов, на деревообрабатывающих предприятиях, в организациях, управляющих
					|  жилищно-коммунальным хозяйством, в частных фирмах, занимающихся производством столярных
					| изделий, на мебельных фабриках
	// end sEnter

mixin sEnterItem(txt, redTxt)
	.col-lg-6
		+e.item
			+e.i-row.row.align-items-center.gy-3
				.col
					+e.title
						block
					if txt
						+e.txt=txt
				.col-auto
					+e.red=redTxt