mixin sTime(data)
	// start sTime
	+b.SECTION.sTime.section#sTime&attributes(attributes)
		.container
			.row
				.col
					+e.title ГРАФИК РАБОТЫ
				.col-auto
					table
						tr
							td понедельник - пятница
							td с 9:00 до 19:00
						tr
							td суббота
							td с 10:00 до 17:00
	// end sTime