mixin footerSlim(data)
	// start footerSlim
	+b.FOOTER.footer--no-after#sContact
		+e.bottom
			.container
				.row
					.col-lg
						p  Министерство науки и высшего образования РФ
							br
							|  Министерство просвещения РФ
							br
							|  © #[span.year 2020]
					.col-auto
						a(href="#")  Политика конфиденциальности
					.col-auto
						a(href="#") Пользовательское соглашение