mixin sAbout(data)
	// start sAbout
	+b.SECTION.sAbout.section#sAbout&attributes(attributes)
		.container
			+b.section-title 
				h2 О колледже
			.row
				.col-xl-auto
					p.strong Колледж градостроительства, транспорта и&nbsp;технологий &#8470;&nbsp;41&nbsp;основан в&nbsp;1973&nbsp;году.

					p На&nbsp;данный момент колледж включает 9&nbsp;высокотехнологичных корпусов, каждый из&nbsp;которых оборудован в&nbsp;соответствии с&nbsp;международными стандартами по&nbsp;представленным специальностям.

					p Мы&nbsp;обучаем специалистов по&nbsp;17&nbsp;направлениям, которые являются наиболее востребованными на&nbsp;рынке в&nbsp;области промышленности, градостроительства и&nbsp;транспортных технологий
				.col
					+e.video-wrap
						<iframe width="560" height="315" src="https://www.youtube.com/embed/zFSWcjAF1wk" title="YouTube video player" loading="lazy" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	// end sAbout