extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sAdvanteges/_sAdvanteges.pug
include ../blocks/sPlaces/_sPlaces.pug
include ../blocks/sSpecials/_sSpecials.pug
include ../blocks/sMost/_sMost.pug
include ../blocks/sBanner/_sBanner.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sPrises/_sPrises.pug
include ../blocks/sWorks/_sWorks.pug
include ../blocks/sQw/_sQw.pug
include ../blocks/sBaner/_sBaner.pug
include ../blocks/sVantage/_sVantage.pug
include ../blocks/sClosest/_sClosest.pug
include ../blocks/sNews/_sNews.pug
include ../blocks/sNewsAlt/_sNewsAlt.pug
include ../blocks/sProfs/_sProfs.pug
include ../blocks/sGalery/_sGalery.pug
include ../blocks/sPartners/_sPartners.pug
include ../blocks/sUnivers/_sUnivers.pug
include ../blocks/sFaq/_sFaq.pug
include ../blocks/sFormAlt/_sFormAlt.pug
include ../blocks/footerAlt/_footerAlt.pug
include ../blocks/sBanerAlt/_sBanerAlt.pug
include ../blocks/sEnter/_sEnter.pug
include ../blocks/sWhat/_sWhat.pug
include ../blocks/sStudy/_sStudy.pug
include ../blocks/sPrice/_sPrice.pug
include ../blocks/sPrice/_sPrice.pug
include ../blocks/sPantProg/_sPantProg.pug
include ../blocks/sWork/_sWork.pug
include ../blocks/sContinue/_sContinue.pug
include ../blocks/sDocs/_sDocs.pug
include ../blocks/sNewsPage/_sNewsPage.pug
include ../blocks/sEvents/_sEvents.pug
include ../blocks/sArticle/_sArticle.pug

block variables
	- let  mainPage='container-bigger color-coal page-head-no-bb'
	- let  bg='article.png'

block title
	- let  title= 'article'
	title= title
block pagecontent
	+mob-mnu3()
	+top-nav3()
	.page-head
		.container
			+breadcrumb('Главная', 'Мероприятия')
			+b.section-title-arrowed
				+e.row.row
					.col-auto
						+e.back-arrow(href="#")
							img(loading="lazy" src='img/svg/back-arrow.svg' alt="")
					+e.title-col.col
						h1 От всей души поздравляем всех с профессиональным праздником –  Международным днем учителя.
						+e.info-row.row.align-items-center
							.col-auto
								+e.date
									span 16.05.2020
									span Вторник
							.col-auto
								+e.i-sub-row.row.align-items-center
									+e.share-col.col-auto Поделиться:
									.col-auto
										+e.soc-row.row
											+phSocItem('soc-vk')
											+phSocItem('soc-fb')
											+phSocItem('soc-inst')
	+sArticle()
	+sFormAlt()(class="pt-4 pb-0")
	+footer()