mixin sPlaces(data)
	// start sPlaces
	+b.SECTION.sPlaces.section#sPlaces&attributes(attributes)
		.container 
			+e.inner
				+pic("budget.png",'',0)
				+e.text 
					h2 БОЛЕЕ 
						| <br> 
						| 400  
						| БЮДЖЕТНЫХ  
						| МЕСТ
					p Платное обучение #[strong от&nbsp;115&nbsp;000&nbsp;руб.&nbsp;в&nbsp;год Индивидуальные] условия оплаты
	// end sPlaces