mixin sWhat(data)
	// start sWhat
	+b.SECTION.sWhat.section#sWhat&attributes(attributes)
		.container
			+b.section-title--smaller
				h2 Чему Вас научат
			+e.UL.list
				li Проводить отбор и сортировку пиломатериалов;
				li Осуществлять обработку древесины: тесание, строгание, разнонаправленное пиление,  просверливание, долбление и резку стамеской;
				li Заготовку размерных брусков ручным способом для дальнейшего их использования в столярном деле;
				li Изготавливать столярные изделия различной сложности из предусмотренного техническим заданием материала, в соответствии с установленной нормой расхода, чертежом и требованиями к качеству;
				li Выполнять рубку наружных стен из бревен и сборку домов из бревен, брусьев и щитов;
				li Делать пропитку деревянных конструкций и деталей антисептическими и огнезащитными составами;
				li Изготовлению и установку столярных изделий (рамных опор, сборку пролетных строений балочных мостов и других конструкций);
				li Изготовлению дверей, окон, арок, лестниц и других изделий из массива древесины с возможным применением фанерования, шпонирования, ламинирования и т.д.
				li Приготовлению рамных замазок;
				li Шлифовке, зашкуриванию и натирке паркета простой конфигурации;
				li Укладывать лаги и настилать полы из различных материалов, устанавливать плинтусы;
				li Свободно читать рабочие чертежи;
				li Производить стандартные плотничные соединений элементов;
				li Пользоваться электрифицированным инструментом;
				li Настилке паркета;
				li Остеклению.
	// end sWhat