.menu{
	list-style: none;
	// @include roww(20px);
	position: relative;
	margin-bottom: 0;
	max-width: 100%;
	@include media-breakpoint-up(lg){
		
		text-align: center;
		display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			text-transform: uppercase;
		}
	font-size: 14px;
		@include media-breakpoint-up(xxl) {

			margin-bottom: rem(28);
		}
		margin-bottom: rem(14);

	li{
		// margin-left: 0;
		// margin-right: 0;
		padding: 0;
	}
	a{
		display: block;
		padding: rem(20) rem(0);
		color: $dark;
		font-weight: bold;
	}
}