.top-nav {
	&--alt{
		padding-top: rem(40);
		padding-bottom: rem(30);
		@include media-breakpoint-up(lg) {
			padding-top: rem(47);
			padding-bottom: 0;
		}
	}

  position: sticky;
  background-color: #fff;
  @include media-breakpoint-up(lg) {
    padding-top: rem(47);
  }
  padding-top: rem(17);

  .container {
    position: relative;
    @include media-breakpoint-up(xxl) {

      padding-left: rem(107 + 180);
    }
    @include media-breakpoint-up(lg) {

    }
    padding-left: rem(107 + 30);
  }

  .row {
    align-items: center;
    --bs-gutter-x: 20px;
  }

  &__logo {
    @include media-breakpoint-up(lg) {

    }
    position: absolute;
    left: 0;
  }

  &__title {
    font-weight: 500;
  }

  &__text {
    font-size: $small;
  }

  &__tel {
    font-weight: bold;
    font-size: rem(20);
    @extend .text-dark;

    .icon {
      font-size: 12px;
      margin-right: 9px;
    }
  }

  &__btn {
    @extend .btn;
    @extend .btn-sm;
    @extend .btn-primary;
    @include media-breakpoint-up(xxl) {
      width: rem(248);
    }
    @include media-breakpoint-only(xs) {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}


