include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })
include components/menu.pug
include components/icon.pug
include components/breadcrumb.pug
include components/pugination.pug
include components/soc.pug
include components/pic.pug
include components/img.pug
include components/btn.pug


mixin arrow()
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
		+icon('chevron-left')
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		+icon('chevron-right')
//- /arrow for swiper-slider

mixin arrow2()
	.swiper-prev
		+icon('arrow-left')
	.swiper-next
		+icon('arrow-right')

mixin arrow3()
	.swiper-prev
		+icon('chevron-left')
	.swiper-next
		+icon('chevron-right')

mixin phSocItem(iconName)
	.col-auto
		+e.soc-item(href="#")
			+icon(iconName)

mixin phSpeaker(imgNum, name, surname)
	+e.speaker
		+e.s-row.row
			.col-auto
				+e.s-img
					img(loading="lazy" src=`img/@2x/speaker-${imgNum}.png` alt="")
			.col
				+e.name
					span=name
					br
					span=surname
				+e.job-place
					block


mixin ie11()
	//- modernizer and for ie11
	<!--[if lt IE 11]><p   class="browsehappy container">К сожалению, вы используете устаревший браузер. Пожалуйста, <a href="http://browsehappy.com/" target="_blank">обновите ваш браузер</a>, чтобы улучшить производительность, качество отображаемого материала и повысить безопасность.</p><![endif]-->