mixin sMost(data)
	// start sMost
	+b.SECTION.sMost.section#sMost&attributes(attributes)
		.container
			+b.section-title
				h2 Самые востребованные специальности
				
			.tabs
				.tabs__caption 
					.tabs__btn.active На базе 9 классов
					.tabs__btn На базе 11 классов
				.tabs__wrap
				mixin tab()
					.tabs__content&attributes(attributes)
						+e.slider--js.swiper-container
							.swiper-wrapper
								block
				mixin card(t,p,s,b)
					+e.slide.swiper-slide
						+e.item
							+e.title= t
							p!= p
							+e.foot
								.row
									.col-auto
										+e.small Сроки обучения
										p= s
									.col-auto
										+e.small Бюджетных мест
										p= b

				+tab().active
					+card('ЦЕНТР ГРАДОСТРОИТЕЛЬНЫХ ТЕХНОЛОГИЙ','Информационные системы обеспечения градостроительной деятельности','3 г. 10 мес.','10') 
					+card('ЦЕНТР ПРОМЫШЛЕННЫХ ТЕХНОЛОГИЙ','Организация и технология защиты информации','3 г. 10 мес.','10') 
					+card('ЦЕНТР ТЕХНОЛОГИЙ ТРАНСПОРТА','Информационные системы обеспечения градостроительной деятельности','3 г. 10 мес.','10') 
					+card('ЦЕНТР ГРАДОСТРОИТЕЛЬНЫХ ТЕХНОЛОГИЙ','Информационные системы обеспечения градостроительной деятельности','3 г. 10 мес.','10')  
					+card('ЦЕНТР ГРАДОСТРОИТЕЛЬНЫХ ТЕХНОЛОГИЙ','Информационные системы обеспечения градостроительной деятельности','3 г. 10 мес.','10')  
				+tab()
					+card('ЦЕНТР ГРАДОСТРОИТЕЛЬНЫХ ТЕХНОЛОГИЙ','Информационные системы обеспечения градостроительной деятельности','3 г. 10 мес.','10') 
					+card('ЦЕНТР ПРОМЫШЛЕННЫХ ТЕХНОЛОГИЙ','Организация и технология защиты информации','3 г. 10 мес.','10') 
					+card('ЦЕНТР ТЕХНОЛОГИЙ ТРАНСПОРТА','Информационные системы обеспечения градостроительной деятельности','3 г. 10 мес.','10') 
					+card('ЦЕНТР ГРАДОСТРОИТЕЛЬНЫХ ТЕХНОЛОГИЙ','Информационные системы обеспечения градостроительной деятельности','3 г. 10 мес.','10')  
					+card('ЦЕНТР ГРАДОСТРОИТЕЛЬНЫХ ТЕХНОЛОГИЙ','Информационные системы обеспечения градостроительной деятельности','3 г. 10 мес.','10')  

	// end sMost