mixin sMost(data)
	// start sMost
	+b.SECTION.sMost.section#sMost&attributes(attributes)
		.container
			+b.section-title
				h2 Самые востребованные специальности
				
			.tabs
				.tabs__caption 
					.tabs__btn.active На базе 9 классов
					.tabs__btn На базе 11 классов
				.tabs__wrap
				mixin tab()
					.tabs__content&attributes(attributes)
						+e.slider--js.swiper-container
							.swiper-wrapper
								block
				mixin card(t,p,s,b)
					+e.slide.swiper-slide
						+e.item
							+e.title= t
							p!= p
							+e.foot
								.row
									.col-auto
										+e.small Сроки обучения
										p= s
									.col-auto
										+e.small Бюджетных мест
										p= b

				+tab().active
					+card('Центр промышленных технологий','15.01.05 Сварщик (ручной и частично механизированной сварки (наплавки)','2 г.10 м.','75') 
					+card('Центр промышленных технологий','15.02.14 Оснащение средствами автоматизации технологических процессов и производств (по отраслям)','2 г.10 м.','25') 

					+card('Центр градостроительных технологий','35.02.03 Технология деревообработки','3 г.10 м.','50') 
					+card('Центр градостроительных технологий','21.02.06 Информационные системы обеспечения градостроительной деятельности','3 г.10 м.','50') 
					+card('Центр градостроительных технологий','08.02.01 Строительство и эксплуатация зданий и сооружений','3 г.10 м.','50') 
					+card('Центр технологий транспорта','43.02.06 Сервис на транспорте (по видам транспорта)','2 г.10 м.','25') 
					+card('Центр технологий транспорта','23.01.17 Мастер по ремонту и обслуживанию автомобилей','2 г.10 м.','25') 
					+card('Центр технологий транспорта','23.02.07 Техническое обслуживание и ремонт двигателей, систем и агрегатов автомобилей','2 г.10 м.','50') 
					+card('Технопарк Внуково','10.02.01 Организация и технология защиты информации','3 г.10 м.','75')

					
				+tab()
					+card('Центр промышленных технологий','22.02.06 Сварочное производство','2 г.10 м.','25') 
					+card('Центр градостроительных технологий','21.02.06 Информационные системы обеспечения градостроительной деятельности','2 г.10 м.','25') 
					+card('Центр градостроительных технологий','08.02.01 Строительство и эксплуатация зданий и сооружений','2 г.10 м.','25') 
					+card('Центр технологий транспорта','43.02.06 Сервис на транспорте (по видам транспорта)','1 г.10 м.','25') 
					+card('Центр технологий транспорта','23.02.07 Техническое обслуживание и ремонт двигателей, систем и агрегатов автомобилей','2 г.10 м.','25') 
					+card('Технопарк Внуково','10.02.01 Организация и технология защиты информации','2 г.10 м.','25') 
					+card('Технопарк Внуково','09.02.07 Информационные системы и программирование','2 г.10 м.','25') 

	// end sMost